:root {
  --outlines-shown: 1;
  --outline-hint-scale: 1;

  --outline-1-enabled: 1;
  --outline-2-enabled: 1;
  --outline-3-enabled: 1;
  --outline-4-enabled: 0;
  --outline-5-enabled: 0;
  --outline-6-enabled: 0;
}

body,
body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > *,
body > * > * > * > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before,
body > * > * > * > * > * > *::before {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0 10px 2px;
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: initial;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 1;
  transform: scale(var(--outline-hint-scale, 1));
  transform-origin: 0 0;
  pointer-events: none;
}

body > *::after,
body > * > *::after,
body > * > * > *::after,
body > * > * > * > *::after,
body > * > * > * > * > *::after,
body > * > * > * > * > * > *::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}


/* 1 уровень сеточных блоков */

body > *::before,
body > *::after,
body > img {
  z-index: 1;
  --outline-alpha-1: calc(var(--outline-1-enabled, 0) * var(--outlines-shown, 0));
}

body > *::before {
  --hint-text: 'class="' attr(class) '"';
  content: var(--hint-text);
  color: rgba(255, 255, 255, var(--outline-alpha-1));
  background: rgba(76, 169, 255, calc(0.7 * var(--outline-alpha-1)));
}

body > *::after {
  border: 2px solid rgba(76, 169, 255, calc(0.7 * var(--outline-alpha-1)));
  background: rgba(76, 169, 255, calc(0.1 * var(--outline-alpha-1)));
}

body > img {
  z-index: calc(1 * var(--outline-alpha-1));
  outline: 2px solid rgba(76, 169, 255, calc(0.7 * var(--outline-alpha-1)));
  outline-offset: -2px;
}

/* 2 уровень сеточных блоков */

body > * > *::before,
body > * > *::after,
body > * > img {
  z-index: 2;
  --outline-alpha-2: calc(var(--outline-2-enabled, 0) * var(--outlines-shown, 0));
}

body > * > *::before {
  --hint-text: 'class="' attr(class) '"';
  content: var(--hint-text);
  color: rgba(255, 255, 255, var(--outline-alpha-2));
  background: rgba(255, 107, 0, calc(0.7 * var(--outline-alpha-2)));
}

body > * > *::after {
  border: 2px solid rgba(255, 107, 0, calc(0.7 * var(--outline-alpha-2)));
  background: rgba(255, 107, 0, calc(0.1 * var(--outline-alpha-2)));
}

body > * > img {
  z-index: calc(2 * var(--outline-alpha-2));
  outline: 2px solid rgba(255, 107, 0, calc(0.7 * var(--outline-alpha-2)));
  outline-offset: -2px;
}


/* 3 уровень сеточных блоков */

body > * > * > *::before,
body > * > * > *::after,
body > * > * > img {
  z-index: 3;
  --outline-alpha-3: calc(var(--outline-3-enabled, 0) * var(--outlines-shown, 0));
}

body > * > * > *::before {
  --hint-text: 'class="' attr(class) '"';
  content: var(--hint-text);
  color: rgba(255, 255, 255, var(--outline-alpha-3));
  background: rgba(116, 76, 230, calc(0.7 * var(--outline-alpha-3)));
}

body > * > * > *::after {
  border: 2px solid rgba(116, 76, 230, calc(0.7 * var(--outline-alpha-3)));
  background: rgba(116, 76, 230, calc(0.1 * var(--outline-alpha-3)));
}

body > * > * > img {
  z-index: calc(3 * var(--outline-alpha-3));
  outline: 2px solid rgba(116, 76, 230, calc(0.7 * var(--outline-alpha-3)));
  outline-offset: -2px;
}

/* 4 уровень сеточных блоков */

body > * > * > * > *::before,
body > * > * > * > *::after,
body > * > * > * > img {
  z-index: 4;
  --outline-alpha-4: calc(var(--outline-4-enabled, 0) * var(--outlines-shown, 0));
}

body > * > * > * > *::before {
  --hint-text: 'class="' attr(class) '"';
  content: var(--hint-text);
  color: rgba(255, 255, 255, var(--outline-alpha-4));
  background: rgba(78, 181, 67, calc(0.7 * var(--outline-alpha-4)));
}

body > * > * > * > *::after {
  border: 2px solid rgba(78, 181, 67, calc(0.7 * var(--outline-alpha-4)));
  background: rgba(78, 181, 67, calc(0.1 * var(--outline-alpha-4)));
}

body > * > * > * > img {
  z-index: calc(4 * var(--outline-alpha-4));
  outline: 2px solid rgba(78, 181, 67, calc(0.7 * var(--outline-alpha-4)));
  outline-offset: -2px;
}


/* 5 уровень сеточных блоков */
body > * > * > * > * > *::before,
body > * > * > * > * > *::after,
body > * > * > * > * > img {
  z-index: 5;
  --outline-alpha-5: calc(var(--outline-5-enabled, 0) * var(--outlines-shown, 0));
}

body > * > * > * > * > *::before {
  --hint-text: 'class="' attr(class) '"';
  content: var(--hint-text);
  color: rgba(255, 255, 255, var(--outline-alpha-5));
  background: rgba(239, 51, 255, calc(0.7 * var(--outline-alpha-5)));
}

body > * > * > * > * > *::after {
  border: 2px solid rgba(239, 51, 255, calc(0.7 * var(--outline-alpha-5)));
  background: rgba(239, 51, 255, calc(0.1 * var(--outline-alpha-5)));
}

body > * > * > * > * > img {
  z-index: calc(5 * var(--outline-alpha-5));
  outline: 2px solid rgba(239, 51, 255, calc(0.7 * var(--outline-alpha-5)));
  outline-offset: -2px;
}

/* 6 уровень сеточных блоков */
body > * > * > * > * > * > *::before,
body > * > * > * > * > * > *::after,
body > * > * > * > * > * > img {
  z-index: 6;
  --outline-alpha-6: calc(var(--outline-6-enabled, 0) * var(--outlines-shown, 0));
}

body > * > * > * > * > * > *::before {
  --hint-text: 'class="' attr(class) '"';
  content: var(--hint-text);
  color: rgba(255, 255, 255, var(--outline-alpha-6));
  background: rgba(255, 191, 0, calc(0.7 * var(--outline-alpha-6)));
}

body > * > * > * > * > * > *::after {
  border: 2px solid rgba(255, 191, 0, calc(0.7 * var(--outline-alpha-6)));
  background: rgba(255, 191, 0, calc(0.1 * var(--outline-alpha-6)));
}

body > * > * > * > * > * > img {
  z-index: calc(6 * var(--outline-alpha-6));
  outline: 2px solid rgba(255, 191, 0, calc(0.7 * var(--outline-alpha-6)));
  outline-offset: -2px;
}